<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="application_name"
		source="spring.application.name" />

	<appender name="jsonConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
				<logLevel />
				<message />
				<loggerName />
				<context />
				<provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
				<pattern/>
				<mdc />
				<stackTrace>
					<throwableConverter
						class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
						<maxDepthPerThrowable>30</maxDepthPerThrowable>
						<maxLength>4096</maxLength>
						<shortenedClassNameLength>20</shortenedClassNameLength>
						<rootCauseFirst>true</rootCauseFirst>
					</throwableConverter>
				</stackTrace>
			</providers>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="jsonConsoleAppender" />
	</root>

</configuration>